<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Gestor de clientes</h1>
        <button on-click="obtenerClientes" class="btn btn-success" type="button" name="button">Obtener Clientes</button>
        <button on-click="agregarCliente" class="btn btn-success" type="button" name="button">Agregar Clientes</button>

      </div>

      <div class="row">
        <table class="table table-striped">
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.idCliente]]
                </td>
                <td>
                  [[item.nombre]]
                </td>
                <td>
                  [[item.apellido]]
                </td>
              </tr>
            </template>

          </tbody>
        </table>
      </div>


    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorCLientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log("Prop2: " + this.prop2);
        console.log("Prop1: " + this.prop1);
      }
      obtenerClientes(){
        var url = "http://localhost:3002/v2/Clientes";
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();

        this.clientes = JSON.parse(request.responseText);
        console.table(this.clientes);

      }
      agregarCliente(){
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");

        var nuevoCliente = {"CustomerID": 1234, "ContactName": "Pepe", "CompanyName": "Pepes Bar"};
        var body = JSON.stringify(nuevoCliente);

        request.send(body);

        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
    }

    window.customElements.define(GestorCLientes.is, GestorCLientes);
  </script>
</dom-module>
