<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demopolymer-app">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h3>Mi valor es: [[prop2]]</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemopolymerApp extends Polymer.Element {
      static get is() { return 'demopolymer-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'demopolymer-app'
          },
          prop2: {
            type: Number,
            value: 999
          }
        };
      }
    }

    window.customElements.define(DemopolymerApp.is, DemopolymerApp);
  </script>
</dom-module>
