<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row" hidden$={{logado}}>
        Email: : <input type="email" value="{{email::input}}">
        <br>
        Password: : <input type="password" value="{{password::input}}">
        <br>
        <button on-click="logar" class="btn btn-success" name="button">Log in</button>

      </div>

      <div class="row">
        <span hidden$={{!logado}}>Bienvenido a la aplicacion</span>
      </div>


    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      logar(){
        console.log("se ha pulsado el boton logear");

        var request = new XMLHttpRequest();
        var url = "http://localhost:3000/v2/login";
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader("email", this.email);
        request.setRequestHeader("password", this.password);

        request.send();

        this.respuesta = request.responseText;
        console.log(request.status);

        if (request.status == 200){
          this.logado = true;
        }else {
          this.logdo = false;
        }
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
