<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">

      <div class="row">
          <img class="col-lg-8 col-xs-12" src="https://image.flaticon.com/icons/png/512/1535/1535291.png" alt="Wet Floor">
      </div>

      <div class="row">
        <button on-click="incrementar" class="btn btn-success" type="button" name="button">Cargar Datos</button>
        Bidireccional<input type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
        <br>
        Unidireccional<input type="text" name="" value="[[prop1]]">

      </div>

      <div class="row">

        <table class="table table-striped col-lg-12 col-xs-12">

          <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
          </thead>

          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>Selena</td>
              <td>Mora</td>
            </tr>
            <tr>
              <td>2</td>
              <td>James</td>
              <td>Morrison</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Galileo</td>
              <td>Galilei</td>
            </tr>
          </tbody>


        </table>
      </div>

    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: 'Indique su usuario'
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log("Prop2: " + this.prop2);
        console.log("Prop1: " + this.prop1);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
